@media print {
    body {
        background-color: white !important;
    }


    size: A4 portrait;

    @page {
        /* dimensions for the whole page */
        size: A4;
        margin: 0;
    }

    .a55 {
        background: url(/img/bgfacture.jpg);
        background-size: cover;
        display: block;
    }

    .tabled {
        margin: 15px;
        font-size: 18px;

    }

    .tabled th {
        border: 1px solid #6b6b6b;
    }

    .table {

        height: 1000px !important;
        margin: 0 auto;
    }

    .bon {
        right: 30px !important;
    }

    .linkback {
        display: none;
    }

    .table thead th {
        padding: 10px 10px;
    }

    .tabled td {
        text-align: center;
        border: 1px solid #6b6b6b;
    }

    .total {
        position: relative;
        bottom: auto;
        right: auto;
        font-size: 50px;
        text-align: right;
    }

    .datesortie {
        float: right;
        font-size: 24px;
        margin-top: -80px;
    }

    .tabled span {
        display: block;
        font-size: 22px;
    }

    .table thead th {
        padding-top: 20px;
        padding-bottom: 20px;
        padding-left: 10px;
        font-size: 18px;
        font-weight: bold;
    }

    .linkbackdiv {
        display: none;
    }

    .total b {
        padding: 15px;
    }

    .a5 {
        width: 100% !important;
        margin: 0;
        height: 15in;

    }

    ul {
        margin-top: 20px;
        font-size: 30px;
    }

    .logo img {
        width: 240px;
    }

    .logo {
        margin-top: -15px !important;

    }

    .info li {
        font-size: 24px !important;
    }

    .info h2 {
        margin-bottom: 30px;
        margin-top: 30px;
    }

    .bon {
        width: 400px !important;
    }

    .bon {
        text-align: justify;
        width: 200px;
        font-size: 15px;
        position: absolute;
        top: 13px;
        right: -40px;
    }

    .bon .titre {
        font-size: 20px;
        font-weight: bold;

    }
}
