html {
    height: 100%
}

#spinner {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 99;
    background: url(/img/spinner.gif) 50% 50% no-repeat #f1f2f3;
    background-size: 90px;
}



body {
    background: url('/img/bg.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

body:after {
    position: absolute;
    content: '';
    background: rgb(0 0 0 / 85%);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
}

.card {
    margin-top: 15% !important;
}

.card-container.card {
    max-width: 350px;
    border-radius: 6px;
    padding: 20px 40px;
    box-shadow: 0 0 19px rgba(0, 0, 0, .15);
    -moz-box-shadow: 0 0 19px rgba(0, 0, 0, .15);
    -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, .5);
}

.btn {
    font-weight: 700;
    height: 36px;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    cursor: default
}

.card {
    background-color: white;
    padding: 20px 25px 30px;
    margin: 0 auto 25px;
    border: 1px solid #bdbdbd;
    margin-top: 50px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    -moz-box-shadow: 0 2px 2px rgba(0, 0, 0, .3);
    -webkit-box-shadow: 0 2px 2px rgba(0, 0, 0, .3);
    box-shadow: 0 2px 2px rgba(0, 0, 0, .3)
}

.profile-img-card {
    margin: 0 auto 20px;
    display: block;
    -moz-border-radius: 50%
}

.profile-name-card {
    font-size: 16px;
    font-weight: 700;
    text-align: center;
    margin: 10px 0 0;
    min-height: 1em
}

.form-signin #inputEmail,
.form-signin #inputPassword {
    direction: ltr;
    height: 44px;
    font-size: 16px
}

.red {
    color: red;
    margin-top: -9px;
    margin-left: 45px;
    margin-bottom: 9px;
}

.error {
    border: 1px solid #ff000061;
}

input {
    height: 42px !important;
}

input:focus,
input:hover,
input:active {
    text-decoration: none;
    box-shadow: none !important;
}

.radioAdmin {
    padding: 15px 0;
}

.alert {
    color: #af3540;
    font-weight: 500;
    font-size: 12px;
    padding: 10px 10px;
    transition: visibility 0s linear 1s, opacity 1s linear
}

.blocktopheader {
    padding: 15px;
}

.form-signin button,
.form-signin input[type=email],
.form-signin input[type=password],
.form-signin input[type=text] {
    width: 100%;
    display: block;
    z-index: 1;
    height: 42px;
    position: relative;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.input-group {
    margin-bottom: 10px;
    height: 42px;
}

.form-signin .form-control:focus {
    border-color: #6891a2;
    outline: 0;
    box-shadow: none !important
}

.btn.btn-signin {
    background-color: black;
    padding: 0;
    font-weight: 700;
    font-size: 15px;
    height: 50px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    border: none;
    -o-transition: all 218ms;
    -moz-transition: all 218ms;
    -webkit-transition: all 218ms;
    transition: all 218ms
}

.btn.btn-signin:active,
.btn.btn-signin:focus,
.btn.btn-signin:hover {
    background-color: #1ca228;
    box-shadow: none !important
}
