body {
    background-color: #9e9e9e;

}

.a55 {
    background: url(/img/bgfacture.jpg);
    background-size: cover;
    display: block;
}

.a5 {
    width: 840px;
    height: 1100px;
    /*    background: white;*/
    margin: 0 auto;
    margin-top: 10px;
    position: relative;
    background: white;
    position: relative;
}

.logo {
    margin: 30px;
}

.sig {
    position: absolute;
    bottom: 100px;
    right: 100px;
    font-weight: bold;
    font-size: 22px;
}

.logo img {
    text-align: center;
    margin-top: 40px;
}

.datesortie {
    float: right;
    font-size: 16px;
    margin-top: -60px;
    margin-right: 20px;
}

.tabled {
    margin: 15px;
    width: 95%;
    margin: 0 auto;

}

.tabled span {
    display: block;
    height: 20px;

}

ul {
    padding: 15px;
}

ul li {
    list-style: none;
    margin: 0;
}

.table {
    min-height: 300px;
}

.table thead th {
    padding: 5px 5px;
}

.linkbackdiv a {
    width: 48%;
}

.linkbackdiv {
    position: absolute;
    /* bottom: -40px; */
    /* position: absolute; */
    bottom: -80px;
    /* border: 1px solid red; */
    /* left: 60px; */
    background: white;
    padding: 9px;
    /* margin-top: 41px; */
    width: 100%;
    border-radius: 4px;
    left: 1px;
}

.linkback {
    font-size: 25px;
    margin-top: 0px !important;
    margin-top: 20px;
    display: inline-block;
}

.bon {
    text-align: justify;
    width: 160px;
    font-size: 11px;
    position: absolute;
    top: 13px;
    right: 20px;
}

.bon .titre {
    font-size: 17px;
    font-weight: bold;

}

.tabled {
    margin: 5px;
    font-size: 12px;
}

.tabled th {
    border: 1px solid #6b6b6b;
}

.tabled td {
    text-align: center;
    padding: 10px 5px;
    border: 1px solid #6b6b6b;
}

.total {
    position: absolute;
    bottom: 34px;
    right: 15px;
    font-size: 16px;

}

@media screen and (max-width: 600px) {
    .a5 {
        width: 100%;
    }
}
