@font-face {
    font-family: "HindVadodara-Regular";
    src: local("HindVadodara-Regular"),
        local("HindVadodara-Regular"),
        url(fonts/HindVadodara-Regular.ttf);
    font-weight: 400;
}

#TAutres {
    margin-top: 10px;
    display: none;
}

.dtoggle {
    margin-left: 82px;
    font-weight: 100;
}

#homeSubmenu .sidebar-item i {
    font-size: 9px;
    vertical-align: middle;
    margin-bottom: 2px;
}


.ninventaire {
    text-transform: uppercase;
}

#homeSubmenu .active a,
#homeSubmenu2 .active a {
    text-decoration: underline;
    color: #03275d;
}

.alerttr {
    background: #ff000038;
}

.blocktopheader {
    width: 100%
}

.none {
    display: none;
}

.wrapper {
    display: flex;
    width: 100%;

    align-items: stretch;
}

body {
    font-family: HindVadodara-Regular !important;
    background-color: #f1f4f9;
    overflow-x: hidden;
}

.blocTitle {
    background: #153d77;
    /* float: left; */
    width: 100%;
    height: 86px;
    margin-top: -5px;
    padding: 20px;
    padding-bottom: 145px;
}

#cart_wrapper {
    background: white;
    padding: 20px 0;
    border-radius: 5px;
}

.sidebar-dropdown .sidebar-link {
    padding: 5px 0;
    padding-left: 30px;

    margin: 0 .5rem;
    color: #6c757d;
    background: #fff;
    font-weight: 400;
    font-size: 90%;
    display: block;
}

.bloccentent {
    margin-top: -80px;
    padding-left: 25px;
    padding-top: 30px;
    width: 100%;
    padding: 20px;
    position: relative;
    transition: all 0.3s;
}

.btnpr {
    color: #ff0556;
    background: 0;
    font-size: 22px;
    border: 0;
    cursor: pointer;
}

.green {
    color: #5ecb00 !important;
}

.modal-content {
    padding: 15px;
}

.nav-tabs {
    margin-top: 20px;
}

.nav-tabs .nav-link {
    margin: 0px;
}

#spinner {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 99;
    background: url(/img/spinner.gif) 50% 50% no-repeat #f1f2f3;
    background-size: 90px;
}

.jumbotron {
    margin-top: 20px;
    background: #f8f9fa;
    padding: 40px 0;
    border: 1px solid #d0d0d0;
    border-radius: 4px;
    padding: 30px 10px;
}

nav {
    background-color: #f8f9fa !important;
    border: 1px solid #d0d0d0;
    padding: 10px 0;
}


.bloccentent .row {
    width: 100% !important;
    margin: 0;
}

.bloccentent label,
a {
    font-size: 12px;
}

.dataTables_info,
.form-control input-sm {
    font-size: 12px;
}

.blockdeconect {
    font-size: 12px;
    color: white;
    cursor: pointer;
    text-transform: capitalize;
}

.blocadmin {
    float: right;
}

.blockdeconectli {
    margin-top: 0px;
    line-height: 20px;
}

.blockdeconectli ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.btnS {
    text-align: center;
    /* margin: 15px 0; */
    min-width: 200px;
    /* margin: 0 auto; */
    margin-top: 15px;
    margin-left: 0 !important;
}



thead {
    background: #0b00ef;
}

.dispV {
    color: #5ecb00;
}

.nondispV {
    color: #d3241b;
}

.h4MT {
    font-size: 16px;
}


.tab-contentcattype {
    margin-top: 30px;
    background: #ffffff;
    padding: 15px;
    border: 1px solid #c7bcbc;
    border-radius: 5px;
}

.blockdeconectli a {
    line-height: 1.5;
    min-height: auto;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
    font-size: 12px;
    color: #828282;
}

.topbra {
    background: #153d77;
    font-size: 1.175rem;
    font-weight: 500;
    color: #fff;
    /* width: 100%; */
    display: block;
    height: 60px;
    padding-left: 19px;
    line-height: 60px;
    text-decoration: none;
}

.topbra i {
    color: #5c93e3;
}

.blockdeconectli h3 {
    padding-top: 10px;
    padding-left: 15px;
    font-size: 12px;
    color: #828282;
}


.blockdeconectli a i {
    padding-right: 10px
}

.header-navbar {
    background: #153d77;
    padding: 0 15px;
    height: 60px;
    line-height: 60px;
    color: white;
}

.deletebtn {
    padding: 0px 5px;
    color: white !important;
    font-size: 12px;
}

.inlineblock {
    display: inline-block;
}

.oblig {
    color: red;
}

.oblig span {
    padding-top: 10px;
    display: inline-block;
}

.close {
    margin: 0 !important;
    /* text-align: right; */
    position: absolute;
    right: 0px;
    top: 0;
}

.Imputfiles {
    margin-top: 15px;
}

.linenav {
    margin: 0 !important;
    padding-bottom: 10px;
    border-top: 1px solid rgb(0 0 0 / 46%) !important;
}

.nav-link {
    display: block;
    font-size: 13px;
    font-weight: 500;
    padding: 5px 15px;
    position: relative;
    white-space: nowrap;
    color: #72777a;
    padding: 10px;
    margin: 0 10px;
    margin-bottom: 5px;
    margin-top: 5px;
}

.sidebar {
    background: white;
    border-right: 0;
    z-index: 1;
    height: 100vh;
    width: 250px;
    transition: all 0.8s;
}

.sidebar.active {
    margin-left: -250px;
}

.noactionright {
    text-align: right;
    background: none !important;
}

table.dataTable thead .sorting {
    background-size: 12px;
}

.noactionright:after,
.noactionright:before {
    content: "" !important;
}

.pdd-t0 {
    padding-top: 0 !important;
}

.nav-link i {
    font-size: 15px;
    display: inline-block;
    width: 21px;
    vertical-align: middle;
    margin-right: 10px;
    margin-right: 0;
}

.Imputfiles {
    margin-top: 15px;
}

.nav-link:hover {
    color: #212529;
    background: #e9ecef;
    text-decoration: none;
}

.form-check {
    margin-top: 7px;
    cursor: pointer;
}

.imgproduits-center {
    text-align: center !important;
}

.imgproduits {
    width: 70px;
    border-radius: 8px;
    border: 1px solid #eb241d;
}

.imgprevieu {
    width: 80%;
    margin: 0 auto;
    margin-bottom: 10px;
    border-radius: 4px;
    border: 3px solid #ccc;
}

.Imputfiles {
    margin-top: 15px;
}

.hidden {
    display: none;
}

.labphoto {
    color: #fff;
    display: inline-block;
    font-weight: 700;
    background: #777;
    border-radius: 5px;
    padding: 6px;
    cursor: pointer;
    font-size: 12px;
}

.mT-30 {
    margin-top: 30px !important;
}

.logoBO {
    text-align: center;
    padding: 10px 0;
}

.btnadd {
    padding: 7px 18px;
    font-size: 14px;
    background: transparent;
    color: white;
    border: 1px solid white;
}

.btnadd:hover {
    background: white;
    color: #153d77;
}

.page-container {
    margin-left: 235px;
    /* width: 100%; */
    padding: 0 15px;
}

.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
    color: #ffffff;
    background: #153d77;
}

button:focus,
button:active {
    outline: 0 !important;
}

.blocksearch {
    float: right;
}

.btn-outline-success.focus,
.btn-outline-success:focus {
    box-shadow: none !important;
}

.form-control::placeholder,
label.titel {
    color: #b5b5b5;
}

.titreTabs {
    color: white;
    letter-spacing: 1px;
    font-size: 25px;
    padding-bottom: 12px;
    float: left;
    line-height: 25px;
    padding-left: 20px;
    text-transform: capitalize;
}

.sidebar-toggle {
    color: white;
    font-size: 20px;
    display: block;
    line-height: 65px;
    min-height: 65px;
}

.blocadmin {
    float: right;
}

.form-control:disabled,
.form-control[readonly] {
    background: #28a74526 !important;
    border: 0 !important;
    text-align: center;
    /* font-size: 17px; */
    color: dimgray !important;
}

.modal-dialog {
    max-width: 600px;
}

.voir {
    font-size: 14px;
    font-weight: 500;
    color: forestgreen;
}

.pMessage {
    color: #888888;
    margin-top: -25px;
    font-size: 15px;
    text-decoration: underline;
}

.right {
    text-align: right;
}

.tab-contentBO {
    font-size: 12px;

}

.tab-contentBO label {
    float: left;
}

.paginate_button a {
    display: block;
    background: #d8d8d8;
    padding: 5px 10px;
    border: 1px solid white;
    color: #5a5a5a;
}

.dataTables_length {
    float: left;
}

.dataTables_filter {
    float: right;
}

table.dataTable {
    margin: 30px 0 !important;
}

table.dataTable th {
    padding: 8px !important;
}

.table-striped tbody tr:nth-of-type(odd) {
    background-color: rgb(158 158 158 / 26%);
}

.page-item.active .page-link {
    z-index: 1;
    color: #fff;
    background-color: #000000;
    border-color: #000000;
}


.dataTables_length select {
    margin: 0 10px;
    font-size: 13px;
}

.ui-datepicker-calendar {
    display: none;
}

.pagination {
    float: right;
}

.blockconexionRight {
    border: 1px solid #eb241d;
    border-radius: 5px;
    margin: 20px 0;
    padding: 30px 0;
    font-size: 14px;
    display: block;
    background: #ffa3a340;
    text-align: center;
    color: #eb241d;
}

.btnvalidS {
    width: 200px;
    float: right;
    margin-left: 10px;
    padding: 9px 0;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 15px;
}

.validervoyage {
    color: white;
    background: black;
    margin: 0 auto;
    margin-top: 32px;
    font-size: 17px;
}

.padd15 {
    padding: 15px !important;
}

.none {
    display: none;
}

.blockconexionRight:hover {
    background: red;
    color: white;
    font-weight: bold;
    text-decoration: none;
}

.tabledataTS {
    border: 1px solid #dee2e6;
    padding: 15;
    margin: 15px;
    border-radius: 5px;
    color: rebeccapurple;
    padding: 15px 0;
}

.tabledataTS .row {
    width: 100% !important;
}

.tabledataTS th {
    font-weight: bold;
    font-size: 14px;

}

.tabledetaillevoyage {
    width: 100% !important;
}

.tabledetaillevoyage thead {
    background: none !important;
}

.tabledetaillevoyage tbody tr:nth-of-type(odd) {
    background-color: #e9ecef;
}

.tabledetaillevoyage tbody td {
    padding: 10px 5px;
    font-size: 12px;
}

.tabledetaillevoyage th {
    padding: 10px 0;
    font-size: 12px;
}

.deleteVbtn {
    background: none;
    cursor: pointer;
    color: red;
    font-size: 16px;
    border: none;
}

.chtable_desou {
    border: 1px solid;
    border: 1px solid red;
    margin-top: 25px;
    border-radius: 2px;
}

.chtable_Sdesou .form-control:disabled,
.chtable_Sdesou .form-control[readonly] {
    background: #ff000017 !important;
    color: black !important;
}

.chtable_desou .form-control:disabled,
.chtable_desou .form-control[readonly] {
    background: #ff000017 !important;
    color: black !important;
}

.montantSVS {
    border: 1px solid #5f5f5f57;
    margin-top: 25px;
    background: #ffe8e8;
    border-radius: 2px;
    padding: 10px;
    color: #272727;
    border: 1px solid #949494;
    font-size: 17px !important;
}
